.cards {
    width: 350px;
    border: 1px solid pink;
    box-shadow: 52px 52px 38px rgba(0, 0, 0, 0.5);
}

img {
    width: 300px;
}

button {
    background-color: deeppink;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 3em;
    cursor: pointer;

}



.meta {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

.App {
    background: url("http://hdqwalls.com/wallpapers/the-simpsons.jpg")center fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}